.container {
  width: 800px;
  height: 800px;
  display: grid;
  gap: 0;
  grid-auto-rows: max-content;
}

.square {
  border: 1px solid black;
}

.hovered {
  background-color: black;
}

.controls {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 800px;
  margin-top: 20px;
}